/* fonts */
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.eot") format("eot"),
    url("../fonts/Roboto-Light.ttf") format("ttf"),
    url("../fonts/Roboto-Light.woff") format("woff"),
    url("../fonts/Roboto-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.eot") format("eot"),
    url("../fonts/Roboto-Bold.ttf") format("ttf"),
    url("../fonts/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto-Black.eot") format("eot"),
    url("../fonts/Roboto-Black.ttf") format("ttf"),
    url("../fonts/Roboto-Black.woff") format("woff"),
    url("../fonts/Roboto-Black.woff2") format("woff2");
}

body {
  color: #2d2d42;
  background: #f4f4f7;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.b-container {
  background: #f4f4f7;
}
.b-header--background {
  max-width: 100%;
}
.b-menu-link,
.b-lang-link--active,
.b-lang-link,
.b-menu-link--nowrap {
  font-family: "Roboto-Light", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  opacity: 0.6;
  border: 1px solid transparent;
  display: block;
}

.b-lang-link--active,
.b-lang-link {
  line-height: 40px;
}

.b-header__body-top,
.b-menu,
.b-menu-list,
.b-lang {
  display: flex;
}


.b-menu-list {
  display: flex;
  /*justify-content: space-between;*/
  flex-wrap: wrap;
  padding: 0;
}

/*.b-lang {*/
/*  justify-content: space-between;*/
/*  flex-basis: 12%;*/
/*  margin-right: 40px;*/
/*}*/

.b-header__body-top {
  position: relative;
  height: 120px;
  align-items: center;
}

.b-header__burger.active:before {
  transform: rotate(45deg);
  top: 5px;
}
.b-header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
}
.b-header__burger.active span {
  transform: scale(0);
}
.b-logo {
  width: 40px;
  height: 40px;
  margin-left: 40px;
}
.b-logo__link {
  position: relative;
  z-index: 5;
}

.b-logo__link>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.b-logo__link{
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.b-logo__icon-mobdark,
.b-logo__icon-moblight,
.b-subtitle--header-mobile,
.b-header__burger {
  display: none;
}
.b-header__logo-icon--desktop,
.b-logo__icon-mobdark,
.b-logo__icon-moblight,
.b-logo__icon-desktop {
  display: none;
}
.b-menu-item,
.b-lang-item,
.b-lang-item--active {
  list-style: none;
}

.b-menu-link--nowrap {
  white-space: nowrap;
}

.b-header__body-content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  padding-left: 200px;
  padding-right: 200px;
}

.b-subtitle--team-header {
  font-family: "Roboto-Light";
  font-weight: 300;
  font-size: 20px;
  color: #93a4a9;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0;
  padding-bottom: 70px;
}

.b-suptitle {
  font-family: "Roboto-Black";
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 1.73px;
  text-transform: uppercase;
  padding-top: 60px;
  margin: 0 0 30px 5px;
}
.b-title--header {
  position: relative;
  padding: 0;
  margin: 0 0 30px 0;
}

.b-subtitle--header-mobile {
  font-family: "Roboto-Light", sans-serif;
  color: #f4f4f7;
  font-weight: 300;
  font-size: 0.9em;
  line-height: 1.33;
}
.b-subtitle--header {
  padding: 0 22% 0 0;
  font-family: "Roboto-Light", sans-serif;
  color: #f4f4f7;
  font-weight: 300;
  font-size: 1.25em;
  line-height: 1.33;
  letter-spacing: 0;
}

.b-header {
  position: relative;
}

.b-title--header-team {
  padding-right: 100px;
}

.b-button--header {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width: 979px) {
  body.lock {
    overflow: hidden;
    padding-right: 17px;
  }

  .b-title--header.active,
  .b-subtitle--header.active,
  .b-logo__icon-desktop,
  .b-logo__icon-mobdark,
  .b-menu-link-event {
    display: none;
  }

  .b-logo__link{
    width: 140px;
    height: 30px;
    border-radius: 100%;
  } 

  /*.b-header__body-content.active {*/
  /*  margin-bottom: 350px;*/
  /*}*/

  .b-button--header,
  .b-logo__icon-moblight,
  .b-logo__icon-mobdark.active {
    display: block;
  }

  .b-header,
  .b-header--background {
    background: white;
  }

  .b-header--background {
    height: auto;
    padding-right: 30px;
  }

  .b-header--background.active {
    background: white;
  }

  .b-logo__icon-moblight,
  .b-logo__icon-mobdark.active {
    margin-left: -70px;
  }

  .b-title--header {
    display: block;
    position: relative;
    font-size: 1.6em;
    color: #f4f4f7;
    margin: 0 0 20px 0;
    padding-right: 0;
    font-family: "Roboto-Black", sans-serif;
    font-weight: 300;
    line-height: 1.08;
    letter-spacing: -0.75px;
  }

  .b-subtitle--header {
    display: block;
    padding: 0;
    margin: 2.196vw 0 5.71vw -70px;
    font-family: "Roboto-Light", sans-serif;
    color: #f4f4f7;
    font-weight: 300;
    font-size: 1.25em;
    line-height: 1.33;
    letter-spacing: 0;
  }

  .b-header__body-top {
    height: 90px;
    position: relative;
  }



  .b-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 107%;
    left: -125%;
    transition: all 0.4s ease 0s;
  }

  .b-menu.active {
    left: -11px;
    transition: all 0.4s ease 0s;
  }

  .b-subtitle--header-mobile {
    margin-bottom: 150px;
  }

  .b-lang {
    padding: 0;
    position: absolute;
    left: -500%;
    transition: all 0.4s ease 0s;
  }

  .b-lang.active {
    position: absolute;
    width: 120px;
    top: 410%;
    left: -70px;
    transition: all 0.4s ease 0s;
  }

  .b-menu-list {
    display: block;
    position: absolute;
    left: 5px;
  }

  .b-menu.active a,
  .b-lang.active a {
    color: black;
  }

  .b-menu.active a:hover {
    border-bottom: 1px solid #c7c7c7;
  }

  .b-logo__link.active {
    padding: 0;
  }
}

@media (max-width: 1179px) {
  .b-logo {
    margin-left: 100px;
  }
  .b-lang {
    padding-right: 20px;
    padding-left: 0;
  }
  .b-header__body-content {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 979px) {
  .b-suptitle {
    margin: 0 0 20px 0;
    padding-top: 0;
    font-size: 10px;
    color: #2d2d42;
  }
  .b-subtitle--team-header {
    padding-bottom: 30px;
    margin-left: -70px;
    font-size: 15px;
  }
  .b-title--header {
    font-size: 25px;
    color: #2d2d42;
    margin-top: 0;
  }
  .b-header__body-content,
  .b-header__body-top {
    background: #f4f4f7;
    margin-right: -30px;
  }

  .b-header__body-content {
    padding: 30px;
  }

  .b-logo__icon-moblight,
  .b-logo__icon-desktop,
  .b-logo__icon-desktop-dark {
    display: none;
  }
  .b-logo__icon-mobdark {
    display: block;
    margin-left: -70px;
  }
  .b-menu.active {
    left: 134px;
  }
  .b-lang.active {
    left: 31px;
  }
  .b-suptitle.active,
  .b-subtitle--team-header.active {
    display: none;
  }
  .b-header__body-top.active {
    background: white;
  }
}

.b-container {
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* button */
.b-button {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  width: 580px;
  height: 80px;
  background-color: #64cae1;
  padding: 25px 0 25px 200px;
  text-align: left;
  border: none;
  font-family: "Roboto-Light", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: #f4f4f7;
  text-decoration: none;
}

.b-button::before {
  content: "";
  position: absolute;
  right: 50px;
  top: 50%;
  width: 30px;
  height: 15px;
  transform: translateY(-50%);
  background: url(../images/button_icon.svg) no-repeat center/cover;
  transition: transform ease 0.3s;
}

.b-button:focus {
  outline: none;
}

.b-button:hover {
  cursor: pointer;
}

.b-button:hover::before {
  transform: translate(15px, -50%);
}

.b-button--header {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.b-button--hidden {
  display: none;
}

.b-title {
  font-family: "Roboto-Black";
  font-size: 60px;
  font-weight: 900;
  line-height: 1.08;
  letter-spacing: -0.75px;
}

.b-title--contrast {
  color: #f4f4f7;
}

.b-title--secondary {
  color: #c0c6c8;
}

.b-title--event-header {
  font-family: "Roboto-Light", sans-serif;
  font-weight: 300;
}

.b-title--home-header {
  padding-top: 60px;
}

.b-subtitle {
  font-family: "Roboto-Light";
  font-weight: 300;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0;
}

.b-text {
  font-family: "Roboto-Light";
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: normal;
  font-weight: 300;
}

.b-text--contrast {
  color: #f4f4f7;
}

.b-text--header {
  margin: 0;
  padding: 0 110px 0 0;
}

.b-text--home-header {
  margin-bottom: 160px;
}

.b-text--team-header {
  margin-bottom: 100px;
}

.b-text--event-header {
  margin-bottom: 70px;
  color: #93a4a9;
}

.b-note {
  font-family: "Roboto-Light";
  font-weight: 300;
  font-size: 15px;
  line-height: 1.67;
}

.b-note--contrast {
  color: #f4f4f7;
}

/* footer */

.b-footer {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-top: 100px;
  padding-left: 200px;
  background: black;
  z-index: 1;
  overflow: hidden;
}

.b-footer::before {
  content: "";
  position: absolute;
  width: 980px;
  height: 441px;
  top: 180px;
  z-index: -1;
  background: url(../images/home/footer/map.svg) no-repeat 49px 0 / contain;
}

.b-footer__discription {
  box-sizing: border-box;
  display: inline-block;
  margin-right: 118px;
  width: 380px;
  margin-bottom: 60px;
}

.b-footer__social {
  display: inline-flex;
  vertical-align: top;
  flex-wrap: wrap;
}

.b-footer__icon {
  width: 30px;
  height: 30px;
  margin-right: 25px;
  margin-top: 20px;
  transition: transform 0.3s ease;
}

.b-footer__icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.b-footer__icon--in {
  background: url(../images/home/footer/social-icons/linkedin-white.svg)
    no-repeat center/ contain;
}

.b-footer__icon--facebook {
  background: url(../images/home/footer/social-icons/facebook-white.svg)
    no-repeat center/ contain;
}

.b-footer__icon--inst {
  background: url(../images/home/footer/social-icons/instagram-white.svg)
    no-repeat center/ contain;
}

.b-title--footer {
  margin-top: 0;
  margin-bottom: 75px;
  width: 380px;
}

.b-text--footer {
  width: 380px;
  margin-right: 118px;
  margin-top: 0;
  margin-bottom: 30px;
}

.b-note--footer {
  width: 380px;
  margin-bottom: 0;
}

.b-footer__adress {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-right: -140px;
}

.b-footer__info {
  box-sizing: border-box;
  margin-right: 118px;
  margin-bottom: 30px;
  width: 380px;
}

.b-footer__email {
  text-decoration: none;
  color: #64cae1;
}

.b-footer__email:hover {
  text-decoration: underline;
}

.b-footer__tel {
  text-decoration: none;
  color: inherit;
}

.b-footer__tel:hover {
  text-decoration: underline;
}

.b-button {
  z-index: 10;
}

.b-button--footer {
  margin-left: -200px;
  margin-right: 118px;
}

.b-header__item {
  margin-right: 50px;
}

.b-header__item a {
  transition: all 0.3s ease;
}

.b-header__item:hover a {
  color: #64cae1;
}

.b-header__item--first {
  margin-right: 53px;
}

.b-header__item--between {
  margin-right: 58px;
}

.b-header__item--penultimate {
  margin-right: 61px;
}

.b-footer__hidden-nav {
  display: none;
}

.b-footer__bottom {
  display: inline-block;
}

.b-footer__info--heading {
  font-weight: 300;
}

.b-footer--event::before {
  display: none;
}

.b-footer--event {
  background: #2d2d42;
}

::-ms-clear {
  display: none;
}

.b-form__input {
  background: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(192, 198, 200, 0.2);
  font-family: "Roboto-Light", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #f4f4f7;
  font-weight: 300;
  margin-bottom: 54px;
  padding-top: 30px;
  padding-bottom: 15px;
  caret-color: #64cae1;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .b-form__input {
    overflow: auto;
    caret-color: #64cae1;
  }
}

.b-form__input:focus {
  outline: none;
  border-bottom: 1px solid #c0c6c8;
}

.b-form__input--textarea {
  border: none;
  padding-top: 55px;
  min-height: 200px;
  resize: none;
}

.b-form__input--textarea:focus {
  border: none;
}

.b-form__input::placeholder {
  color: #f4f4f7;
}

.b-form {
  padding-right: 200px;
}

.b-form__wrapper {
  position: relative;
}

.b-form__label {
  color: #f4f4f7;
  position: absolute;
  bottom: 70px;
  font-family: "Roboto-Light", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  display: block;
  transition: all ease 0.7s;
}

.b-form__input:focus + .b-form__label,
.b-form__input:not(:focus):valid + .b-form__label {
  font-size: 15px;
  line-height: 25px;
  color: rgba(244, 244, 247, 0.5);
  top: 0;
}

.b-form__label--active {
  font-size: 15px;
  line-height: 25px;
  color: rgba(244, 244, 247, 0.5);
  top: 0;
}

.b-note--textarea {
  position: absolute;
  color: rgba(244, 244, 247, 0.5);
  top: 0;
  display: block;
}

.b-title--form {
  margin-top: 0;
  margin-bottom: 87px;
}

@media (max-width: 1179px) and (min-width: 980px) {
  .b-container {
    max-width: 100%;
  }

  .b-button {
    width: 480px;
    padding-left: 100px;
  }

  .b-footer {
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .b-footer--event {
    display: block;
  }

  .b-footer::before {
    width: 980px;
    height: 441px;
    top: 180px;
    right: -80px;
    background: url(../images/home/footer/map.svg) no-repeat right 0 / contain;
  }

  .b-footer__social {
    flex-basis: 380px;
  }

  .b-footer__bottom {
    flex-basis: 380px;
  }

  .b-text--copyright {
    line-height: 80px;
    vertical-align: middle;
  }

  .b-footer__adress {
    justify-content: space-between;
    flex-basis: 100%;
  }

  .b-footer__info {
    flex-basis: 380px;
    margin-right: 0;
  }

  .b-footer::before {
    width: 100%;
  }

  .b-button--footer {
    margin-left: -100px;
  }

  .b-form {
    padding-right: 100px;
  }
}

@media screen and (max-width: 979px) {
  .b-header__item a {
    transition: none;
  }

  .b-header__item:hover a {
    color: #2d2d42;
  }

  .b-text--header {
    margin: 0;
    padding: 0;
  }

  .b-button {
    width: 100%;
    height: 60px;
    padding: 20px 0 20px 30px;
    font-size: 15px;
    line-height: 20px;
  }

  .b-button::before {
    width: 20px;
    height: 10px;
    right: 30px;
    transition: none;
  }

  .b-button--hidden {
    display: block;
  }

  .b-footer__icon:hover {
    transform: none;
  }

  .b-button:hover::before {
    transform: translate(0, -50%);
  }

  .b-button--header {
    border: none;
  }

  .b-title {
    font-size: 25px;
    line-height: 1.2;
    letter-spacing: -0.31px;
  }

  .b-subtitle {
    font-size: 15px;
  }

  .b-text {
    font-size: 15px;
    line-height: 1.33;
  }

  .b-footer {
    padding: 30px 30px 0 30px;
  }

  .b-title--footer {
    margin-bottom: 20px;
  }

  .b-title--home-header {
    padding-top: 0;
  }

  .b-footer::before {
    width: 100%;
    top: 218px;
    left: 0;
    background: url(../images/home/footer/map.svg) no-repeat 62% 0 / auto 330px;
  }

  .b-title--footer,
  .b-note--footer,
  .b-text--footer {
    width: 100%;
    margin-right: 0;
  }

  .b-footer__info--heading {
    font-size: 20px;
  }

  .b-footer__discription {
    display: block;
    margin-bottom: 20px;
    margin-right: 0;
    width: 100%;
  }

  .b-footer__icon {
    margin-top: 0;
  }

  .b-footer__social {
    margin-bottom: 220px;
  }

  .b-footer__info {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .b-footer__adress {
    width: 260px;
    margin-bottom: 10px;
  }

  .b-footer__email:hover,
  .b-footer__tel:hover {
    text-decoration: none;
  }

  .b-footer__email:active,
  .b-footer__tel:active {
    text-decoration: underline;
  }

  .b-button--footer {
    margin-right: 0;
    margin-left: -30px;
    width: calc(100% + 60px);
  }

  .b-footer__hidden-nav {
    display: block;
    margin: 0;
    margin-bottom: 18px;
  }

  .b-footer__navigation {
    margin: 0;
    list-style: none;
    padding: 0;
  }

  .b-footer__nav-item {
    font-family: "Roboto-Light", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2.67;
    color: #f4f4f7;
  }

  .b-footer__nav-item a {
    text-decoration: none;
    color: inherit;
  }

  .b-footer__bottom {
    background: #2d2d42;
    margin: 0 -30px;
    padding: 20px 30px 30px 30px;
    width: 100%;
  }

  .b-note--description {
    font-size: 13px;
    line-height: 1.54;
  }

  .b-form {
    padding-right: 0;
  }

  .b-form__input {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 39px;
    padding-bottom: 10px;
  }

  .b-form__label {
    bottom: 50px;
    font-size: 15px;
    line-height: 20px;
  }

  .b-form__input:focus + .b-form__label,
  .b-form__input:not(:focus):valid + .b-form__label {
    font-size: 13px;
    line-height: 20px;
    color: rgba(244, 244, 247, 0.5);
    top: 0;
  }

  .b-title--form {
    margin-bottom: 52px;
  }

  .b-form__input--textarea {
    min-height: 164px;
  }
}
