.b-suptitle.active,
.b-title--event-header.active,
.b-header__body-content.active {
  display: block;
}

.b-header__body-content.active {
  z-index: -2;
}

.b-logo__icon-mobdark,
.b-logo__icon-moblight,
.b-logo__icon-desktop,
.b-logo__icon-desktop-dark {
  width: auto;
  height: auto;
  object-fit: none;
}

.b-event {
  width: 100%;
  background: white;
  margin-bottom: 100px;
}

.b-event__content {
  position: relative;
  padding: 100px 200px 80px 200px;
}

.b-event__image {
  width: 100%;
}

.b-subtitle--event {
  margin-top: 0;
  margin-bottom: 50px;
}

.b-event__social {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 115px;
  left: 85px;
}

.b-event__social img:hover {
  transform: scale(1.1);
  transition: 1.5s;
}

.b-event__social-item {
  margin-bottom: 20px;
}

.b-menu-item:hover,
.b-menu-link:hover,
.b-menu-link--nowrap:hover {
  color: deepskyblue;
}
.b-menu-link:active,
.b-menu-link--nowrap:active {
  border-bottom: 1px solid black;
}

.b-lang-item,
.b-lang-item--active {
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 5px;
}
.b-lang-item--active,
.b-lang-item:hover {
  border: 1px solid darkgrey;
  transition: 0.5s;
}

@media (max-width: 979px) {
  .b-header__body-top.active {
    background: #f4f4f7;
  }
}

@media (min-width: 1179px) {
  .b-menu {
    width: 716px;
    margin-left: 50px;
  }
  .b-menu-item {
    margin-right: 50px;
  }
}

@media (max-width: 1179px) {
  .b-event {
    margin-bottom: 0;
  }
  .b-menu-item {
    margin-right: 50px;
  }
  .b-menu {
    margin-left: 40px;
    width: 616px;
  }

  .b-event__content {
    padding: 100px;
  }

  .b-event__social {
    position: relative;
    flex-direction: row;
    top: 0;
    left: 0;
  }

  .b-event__social-item {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .b-text--event {
    margin-bottom: 80px;
  }
}

@media (max-width: 979px) {
  .b-event__content {
    padding: 30px;
  }

  .b-subtitle--event {
    margin-bottom: 30px;
  }

  .b-text--event {
    font-size: 13px;
    margin-bottom: 30px;
  }
}

.b-mob-menu {
  background: white;
  padding-top: 100px;
  padding-bottom: 20px;
  position: absolute;
  width: 150vw;
  height: calc(100vh - 100%);
  left: -215%;
  top: 0;
  z-index: 1;
}

.b-mob-menu.active {
  left: 0;
  transition: 0.3s;
}
.b-mob-menu-item,
.b-mob-lang {
  list-style: none;
}
.b-mob-menu a {
  text-decoration: none;
  color: #2d2d42;
}
.b-mob-menu-item a {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0;
  font-family: "Roboto-Light", sans-serif;
}
.b-mob-menu-item {
  margin-bottom: 20px;
}
.b-mob-lang {
  display: flex;
  margin-left: -10px;
  position: absolute;
  bottom: 7%;
}
.b-mob-lang-link,
.b-mob-lang-link--active {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0;
  font-family: "Roboto-Light", sans-serif;
}

.b-mob-lang-item {
  margin-right: 30px;
}
.b-mob-menu-list {
  margin-bottom: 66px;
  margin-left: -10px;
}
.b-logo__icon-moblight.active {
  display: none;
}
.b-logo__icon-mobdark.active {
  display: block;
  position: absolute;
  z-index: 50000;
}
.b-button--header.active {
  z-index: -1;
}

@media (min-width: 979px) {
  .b-mob-menu.active,
  .b-logo__icon-mobdark.active {
    display: none;
  }
  .b-header__body-top.active {
    background: transparent;
  }
}

@media (min-width: 768px) {
  .b-mob-menu {
    width: 50vw;
  }
}
@media (max-height: 430px) {
  .b-mob-lang {
    display: none;
  }
}

.b-header__body-content.active {
  z-index: 0;
}

@media (min-width: 1179px) {
  .b-menu-list {
    width: 100%;
  }
}
.b-menu-list {
  width: 100%;
}

@media (max-width: 979px) {
  .b-subtitle--info {
    height: auto;
  }
  .b-header__burger {
    display: block;
    position: absolute;
    height: 15px;
    width: 20px;
    z-index: 3;
    right: -30px;
    top: 38%;
    margin-left: -59px;
    left: 101%;
  }

  .b-header__burger span {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 1px;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.3s ease 0s;
  }

  .b-header__burger:before,
  .b-header__burger:after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 1px;
    transition: all 0.3s ease 0s;
  }

  .b-header__burger:before {
    top: 0;
  }

  .b-header__burger:after {
    bottom: 0;
  }
}

.b-header__body-top {
  justify-content: space-between;
}

.b-mob-menu-link, .b-mob-menu-link--nowrap {
  position: relative;
}
.b-mob-menu-link::after,
.b-mob-menu-link--nowrap::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #c7c7c7;
  transition: width 0.3s ease-out;
}

.b-mob-menu-link:hover::after,
.b-mob-menu-link--nowrap:hover::after {
  width: 100%;
}

.b-mob-lang {
  display: flex;
  margin-left: -22px;
  position: absolute;
  bottom: 7%;
}

.b-mob-lang-item,
.b-mob-lang-item--active {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0;
  font-family: "Roboto-Light", sans-serif;
  width: 40px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-top: -11px;
  margin-right: 24px;
}
.b-mob-lang-item--active, .b-mob-lang-item:hover {
  border: 1px solid #c7c7c7;
  transition: 0.5s;
}
