.b-header__body-content.active {
  z-index: -2;
  display: block;
}

.b-header__body-top {
  justify-content: space-between;
}

@media (min-width: 979px) {
  .b-header__body-content.active {
    z-index: 2;
  }
  .b-header--background.active {
    background: #f4f4f7;
  }
}
@media (max-width: 979px) {
  .b-header__body-top.active {
    background: #f4f4f7;
  }

  .b-header__body-top {
    justify-content: flex-start;
  }
}

.b-menu-item:hover,
.b-menu-link:hover,
.b-menu-link--nowrap:hover {
  color: deepskyblue;
}
.b-menu-link:active,
.b-menu-link--nowrap:active {
  border-bottom: 1px solid black;
}

.b-lang-item,
.b-lang-item--active {
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 5px;
}
.b-lang-item--active,
.b-lang-item:hover {
  border: 1px solid darkgrey;
  transition: 0.5s;
}

@media (min-width: 1179px) {
  .b-menu {
    width: 716px;
    margin-left: 80px;
  }

  .b-menu-item {
    margin-right: 50px;
  }
}

@media (max-width: 979px) {
  .b-suptitle.active,
  .b-subtitle--team-header.active,
  .b-title--header.active {
    display: block;
    overflow: hidden;
    z-index: -100000;
  }
}

.b-business-center {
  background: #ffffff;
}

.b-leadership {
  background: #ffffff;
  padding-top: 95px;
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: -1px;
  position: relative;
}

.b-leadership__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-right: -49px;
  box-sizing: border-box;
  position: relative;
}

.b-leader {
  width: 351px;
  margin-bottom: 70px;
  margin-right: 49px;
}

.b-leader__picture {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 40px;
  transition: transform 0.3s ease;
}

.b-office-leader__picture {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 40px;
}

.b-leader__text {
  font-family: "Roboto-Bold";
  font-size: 30px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: -0.5px;
  box-sizing: border-box;
  margin: 0;
}

.b-business-center,
.b-head-office {
  box-sizing: border-box;
  background: white;
  width: 100%;
  padding-left: 200px;
  padding-right: 200px;
}

.b-title--business-center,
.b-title--head-office {
  margin-top: 0;
  margin-bottom: 45px;
  padding-top: 80px;
}

.b-title--business-center {
  padding-top: 0;
}

.b-business-center__content,
.b-head-office__content {
  display: flex;
  flex-wrap: wrap;
  margin-right: -120px;
  padding-bottom: 65px;
}

.b-business-center__person,
.b-head-office__person {
  box-sizing: border-box;
  width: 280px;
  margin-right: 120px;
}

.b-office-leader__portrait {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}

.b-office-leader__portrait:hover,
.b-leader__picture:hover {
  transform: scale(1.1);
}

.b-office {
  padding: 80px 200px 0 200px;
  background-color: #fff;
}

.b-title--office {
  margin: 0;
  margin-bottom: 45px;
}

.b-office__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-right: -120px;
  margin-bottom: -80px;
}

.b-office-leader {
  width: 280px;
  margin-right: 120px;
  margin-bottom: 80px;
}

.b-office-leader__name {
  font-family: "Roboto-Bold";
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.b-text--office-leader {
  color: #93a4a9;
  margin-top: 0;
  margin-bottom: 16px;
}

.b-business-center__image,
.b-head-office__image {
  width: 100%;
  display: block;
}

.b-goal {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 50px;
  background: white;
  margin-bottom: -1px;
  position: relative;
}

.b-goal__wrapper {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 100px 200px 0 200px;
  margin-right: -120px;
}

.b-leadership:after,
.b-goal:after,
.b-team::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 200px;
  height: 1px;
  width: 780px;
  background-color: rgba(192, 198, 200, 0.2);
}

.b-example {
  box-sizing: border-box;
  width: calc((100% - 40px) / 2);
  margin-right: 20px;
  position: relative;
}

.b-example--main {
  width: 100%;
}

.b-example__picture {
  display: block;
  width: 100%;
  height: 0;
}

.b-example__image {
  position: absolute;
  top: 0;
  left: 0;
}

.b-example__picture--main {
  height: 0;
  padding-bottom: 600px;
}

.b-goal__item {
  box-sizing: border-box;
  width: 280px;
  margin-right: 120px;
  margin-bottom: 50px;
}

.b-goal__heading {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 35px;
}

.b-text--goal {
  margin: 0;
}

.b-business-center__name,
.b-head-office__name {
  font-family: "Roboto-Bold";
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.b-text--business-center,
.b-text--head-office {
  color: #93a4a9;
  margin-top: 0;
  margin-bottom: 16px;
}

.b-business-center__image,
.b-head-office__image {
  width: 100%;
  display: block;
}

.b-goal__item {
  box-sizing: border-box;
  width: 280px;
  margin-right: 120px;
  margin-bottom: 30px;
}

.b-goal__heading {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 35px;
}

.b-text--goal {
  margin: 0;
}

/*middle page 2*/

@media (max-width: 1179px) {
  .b-menu-item {
    margin-right: 50px;
  }

  .b-menu {
    margin-left: 50px;
    width: 716px;
  }
}

@media (max-width: 1179px) {
  .b-business-center,
  .b-office,
  .b-leadership,
  .b-goal__wrapper {
    padding-left: 100px;
    padding-right: 100px;
  }

  .b-leadership:after,
  .b-goal:after,
  .b-team:after {
    height: 1;
    left: 100px;
    width: calc(100vw - 200px);
  }
}

@media (max-width: 978px) {
  .b-leader__picture {
    width: 70px;
    height: 70px;
  }

  .b-leadership:after,
  .b-goal:after {
    height: 0;
  }

  .b-example__picture--main {
    padding-bottom: calc(200 * 100% / 320);
  }

  .b-leadership,
  .b-office,
  .b-goal__wrapper {
    padding: 0;
    margin-right: 0;
  }

  .b-title--office {
    margin-bottom: 0;
    padding: 30px;
    border-bottom: 1px solid rgba(192, 198, 200, 0.2);
  }

  .b-leader {
    margin-bottom: 0;
    width: calc(100%);
    padding: 30px;
    border-bottom: 1px solid rgba(192, 198, 200, 0.2);
  }

  .b-office-leader__portrait:hover,
  .b-leader__picture:hover {
    transform: none;
  }

  .b-office__wrapper {
    margin-right: 0;
    margin-bottom: 0;
  }

  .b-office-leader {
    width: 100%;
    margin: 0;
    padding: 30px;
    border-bottom: 1px solid rgba(192, 198, 200, 0.2);
  }

  .b-office-leader__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .b-office-leader__wrapper {
    display: flex;
    margin-bottom: 20px;
  }

  .b-text--office-leader {
    margin-bottom: 0;
  }

  .b-office-leader__picture {
    width: 50px;
    height: 50px;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .b-leader__text {
    font-size: 20px;
  }

  .b-note--office-leader {
    font-size: 13px;
    line-height: 1.54;
    margin: 0;
  }

  .b-business-center__person,
  .b-head-office__person {
    width: 100%;
    margin-right: 0;
    padding: 30px;
    border-bottom: 1px solid rgba(192, 198, 200, 0.2);
  }

  .b-goal:after {
    height: 0;
  }

  .b-office-leader__name,
  .b-office-leader__name {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 5px;
  }

  .b-goal__item {
    padding: 30px;
    border-bottom: 1px solid rgba(192, 198, 200, 0.2);
    margin-right: 0;
    margin-bottom: 0;
    width: 100%;
  }

  .b-note--office {
    margin: 0;
    font-size: 13px;
  }

  .b-goal {
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .b-goal::before {
    width: 100%;
    margin-left: -30px;
  }

  .b-leadership {
    padding: 0px;
  }

  .b-leadership__image {
    margin-bottom: 40px;
  }

  .b-leadership__person {
    width: 100%;
    padding: 30px;
    border-bottom: 1px solid rgba(192, 198, 200, 0.2);
  }

  .b-leadership__text {
    font-size: 20px;
  }

  .b-leadership-person__info {
    width: 100%;
    margin-bottom: 0;
  }

  .b-business-center,
  .b-head-office {
    padding: 0;
  }

  .b-business-center__content,
  .b-head-office__content {
    margin-right: 0;
    padding-bottom: 0;
  }

  .b-business-center__person,
  .b-head-office__person {
    width: 100%;
    margin-right: 0;
    padding: 30px;
    border-bottom: 1px solid rgba(192, 198, 200, 0.2);
  }

  .b-goal {
    padding: 0;
    margin-right: 0;
  }

  .b-goal::before {
    width: 100%;
    margin-left: -30px;
  }

  .b-business-center__person-data,
  .b-head-office__person-data {
    padding-top: 2px;
  }

  .b-leadership__photo:hover {
    transform: none;
  }

  .b-leadership__photo {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .b-business-center__name,
  .b-head-office__name {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 5px;
  }

  .b-business-center__person-info,
  .b-head-office__person-info {
    display: flex;
    margin-bottom: 20px;
  }

  .b-title--business-center,
  .b-title--head-office {
    margin-bottom: 0;
    padding: 30px 30px;
    border-bottom: 1px solid rgba(192, 198, 200, 0.2);
  }

  .b-note--business-center,
  .b-note--head-office {
    margin: 0;
    font-size: 13px;
  }

  .b-goal__item {
    padding: 30px;
    border-bottom: 1px solid rgba(192, 198, 200, 0.2);
    margin-right: 0;
    margin-bottom: 0;
    width: 100%;
  }

  .b-goal__heading {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .b-footer__discription,
  .b-footer__social,
  .b-footer__adress,
  .b-button--footer {
    display: none;
  }

  .b-footer {
    padding-top: 0;
  }
}

/*middle page 2*/

body {
  margin: 0;
}

.b-team {
  position: relative;
  background-color: #fff;
  padding: 89px 200px 100px 200px;
}

.b-title--team {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 50px;
}

.b-text--team {
  margin-bottom: 0;
}

.b-vacancy {
  background-color: #fff;
  padding: 89px 200px 100px 200px;
}

.b-title--vacancy {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 30px;
}

.b-subtitle--vacancy {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 90px;
}

.b-wrapper--vacancy {
  width: 780px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.b-vacancy__item {
  color: #f4f4f7;
  width: 320px;
  background-color: green;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all 0.3s ease-in-out;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .b-vacancy__item {
    margin-right: 20px;
  }

  .b-vacancy__item:nth-child(2n) {
    margin-right: 0;
  }

  .b-wrapper--vacancy {
    margin: 0;
  }
}

.b-vacancy__item:hover {
  background-color: #2d2d42;
}

.b-vacancy__item--feedback:hover {
  background-color: #f4f4f7;
}

.b-vacancy__item:hover .b-vacancy__link {
  transform: scale(1.1);
}

.b-vacancy__title {
  font-family: "Roboto-Bold";
  font-weight: 300;
  font-size: 30px;
  line-height: 1.33;
  min-height: 80px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 40px;
}

.b-note--vacancy {
  min-height: 100px;
  font-weight: 300;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 50px;
}

.b-vacancy__link {
  font-family: "Roboto-Black";
  font-size: 13px;
  font-weight: 300;
  line-height: 1.54;
  letter-spacing: 1.73px;
  color: #f4f4f7;
  text-decoration: none;
  text-transform: uppercase;
  align-self: flex-start;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform-origin: left bottom;
  transition: all 0.3s ease-in-out;
}

.b-vacancy__link span {
  display: block;
}

.b-vacancy__icon {
  width: 53px;
  height: 10px;
}

.b-vacancy__item--feedback {
  background-color: #f4f4f7;
  color: #2d2d42;
}

.b-vacancy__item--manager {
  background-color: #64cae1;
}

.b-vacancy__item--accountant {
  background-color: #d04b9b;
}

.b-vacancy__item--pr {
  background-color: #f47e3d;
}

/*bottom page 2*/

@media screen and (max-width: 1179px) {
  .b-team {
    padding-left: 100px;
    padding-right: 100px;
  }

  .b-vacancy {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 979px) {
  .b-team::after {
    height: 0;
  }

  .b-team {
    border-bottom: 1px solid rgba(192, 198, 200, 0.2);
  }

  .b-wrapper--vacancy {
    width: 100%;
  }

  .b-team {
    padding: 30px 30px;
  }

  .b-vacancy {
    padding: 30px;
  }

  .b-vacancy__item {
    min-height: 220px;
    padding: 20px;
  }

  .b-title--team,
  .b-title--vacancy {
    margin-bottom: 20px;
  }

  .b-vacancy__title {
    font-size: 20px;
    line-height: 1.5;
    min-height: 0;
    margin-bottom: 20px;
  }

  .b-wrapper--item {
    min-height: 140px;
  }

  .b-vacancy__item--manager:hover {
    background-color: #64cae1;
  }

  .b-vacancy__item--accountant:hover {
    background-color: #d04b9b;
  }

  .b-vacancy__item--pr:hover {
    background-color: #f47e3d;
  }

  .b-vacancy__item:hover .b-vacancy__link {
    transform: none;
  }

  .b-subtitle--vacancy {
    margin-bottom: 30px;
  }

  .b-note--vacancy {
    font-size: 13px;
    line-height: 1.54;
    min-height: 100px;
    margin-bottom: 30px;
  }

  .b-vacancy__link {
    font-size: 10px;
    line-height: 1;
    letter-spacing: 1.33px;
  }

  .b-vacancy__icon {
    width: 37px;
    height: 7px;
  }

  .b-team::before {
    width: 100%;
    margin-left: -30px;
  }
}

@media (min-width: 1179px) {
  .b-menu {
    width: 716px;
    margin-left: 50px;
  }
  .b-menu-item {
    margin-right: 50px;
  }
}

@media (max-width: 1279px) {
  .b-event {
    margin-bottom: 0;
  }

  .b-event__content {
    padding: 100px;
  }

  .b-event__social {
    position: relative;
    flex-direction: row;
    top: 0;
    left: 0;
  }

  .b-event__social-item {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .b-text--event {
    margin-bottom: 80px;
  }
}

@media (max-width: 979px) {
  .b-event__content {
    padding: 30px;
  }

  .b-subtitle--event {
    margin-bottom: 30px;
  }

  .b-text--event {
    font-size: 13px;
    margin-bottom: 30px;
  }
}

.b-mob-menu {
  background: white;
  padding-top: 100px;
  padding-bottom: 20px;
  position: absolute;
  width: 150vw;
  height: calc(100vh - 100%);
  left: -215%;
  top: 0;
  z-index: 1;
}

.b-mob-menu.active {
  left: 0;
  transition: 0.3s;
}
.b-mob-menu-item,
.b-mob-lang {
  list-style: none;
}
.b-mob-menu a {
  text-decoration: none;
  color: #2d2d42;
}
.b-mob-menu-item a {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0;
  font-family: "Roboto-Light", sans-serif;
}
.b-mob-menu-item {
  margin-bottom: 20px;
}
.b-mob-lang {
  display: flex;
  margin-left: -10px;
  position: absolute;
  bottom: 7%;
}

.b-mob-lang-item,
.b-mob-lang-item--active {
  width: 40px;
  height: 30px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 50%;
  padding-top: 10px;
}

.b-mob-menu-list {
  margin-bottom: 66px;
  margin-left: -10px;
}
.b-logo__icon-moblight.active {
  display: none;
}
.b-logo__icon-mobdark.active {
  display: block;
  position: absolute;
  z-index: 50000;
}
.b-button--header.active {
  z-index: -1;
}

.b-logo__icon-mobdark,
.b-logo__icon-moblight,
.b-logo__icon-desktop,
.b-logo__icon-desktop-dark {
  width: auto;
  height: auto;
  object-fit: none;
}

@media (min-width: 979px) {
  .b-mob-menu.active,
  .b-logo__icon-mobdark.active {
    display: none;
  }
  .b-header__body-top.active {
    background: transparent;
  }
}

@media (min-width: 768px) {
  .b-mob-menu {
    width: 50vw;
  }
}
@media (max-height: 430px) {
  .b-mob-lang {
    display: none;
  }
}

.b-header__body-content.active {
  z-index: 0;
}

@media (min-width: 1179px) {
  .b-menu-list {
    width: 529px;
  }
}
.b-menu-list {
  width: 716px;
}

@media (max-width: 979px) {
  .b-subtitle--info {
    height: auto;
  }
  .b-header__burger {
    display: block;
    position: absolute;
    height: 15px;
    width: 20px;
    z-index: 3;
    right: -30px;
    top: 38%;
    margin-left: -59px;
    left: 101%;
  }

  .b-header__burger span {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 1px;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.3s ease 0s;
  }

  .b-header__burger:before,
  .b-header__burger:after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 1px;
    transition: all 0.3s ease 0s;
  }

  .b-header__burger:before {
    top: 0;
  }

  .b-header__burger:after {
    bottom: 0;
  }
}

@media (max-width: 1179px) {
  .b-menu-item {
    margin-right: 50px;
  }

  .b-menu {
    margin-left: 40px;
    width: 616px;
  }
}

.b-header__body-top {
  justify-content: space-between;
}

.b-mob-menu-link, .b-mob-menu-link--nowrap {
  position: relative;
}
.b-mob-menu-link::after,
.b-mob-menu-link--nowrap::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #c7c7c7;
  transition: width 0.3s ease-out;
}

.b-mob-menu-link:hover::after,
.b-mob-menu-link--nowrap.active::after {
  width: 100%;
}

.b-mob-menu-link--nowrap.active {
  color: #2d2d42;
  font-family: "Roboto-Bold", sans-serif;
}

.b-mob-lang {
  display: flex;
  margin-left: -22px;
  position: absolute;
  bottom: 7%;
}
.b-mob-lang-item,
.b-mob-lang-item--active {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0;
  font-family: "Roboto-Light", sans-serif;
  width: 40px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-top: -11px;
  margin-right: 24px;
}
.b-mob-lang-item--active, .b-mob-lang-item:hover {
  border: 1px solid #c7c7c7;
  transition: 0.5s;
}

