.b-example__image--poly {
  font-family: "object-fit: cover";
}

.b-header--background {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/home/header/header_page2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 0;
  max-width: 100%;
}
.b-menu-link,
.b-lang-link--active,
.b-lang-link {
  color: #f4f4f7;
}
.b-menu-link:hover,
.b-menu-link--nowrap:hover,
.b-lang-item:hover {
  color: white;
  transition: 0.2s;
  opacity: 1;
}
.b-menu-link:active,
.b-menu-link--nowrap:active {
  border-bottom: 1px solid white;
  opacity: 1;
}

.b-menu-link--nowrap {
  color: #f4f4f7;
}

.b-logo__icon-desktop {
  display: block;
}

.b-lang {
  margin-right: 60px;
}

.b-logo {
  width: 40px;
  height: 40px;
  margin-left: 100px;
}

.b-subtitle--header {
  padding: 0 22% 0 0;
  font-family: "Roboto-Light", sans-serif;
  color: #f4f4f7;
  font-weight: 300;
  font-size: 1.25em;
  line-height: 1.33;
  letter-spacing: 0;
}

.b-header {
  position: relative;
}

.b-button--header {
  position: absolute;
  bottom: 0;
  left: 0;
}

.b-header__body-content.active {
  z-index: 0;
}
@media (min-width: 979px) {
  .b-header__body-content.active {
    z-index: 2;
  }
}

.b-header__body-top.active {
  background: #2d2d42;
}

.b-title--inside {
  padding-left: 200px;
  margin-bottom: 25px;
}

.b-subtitle--inside {
  margin-top: 0;
  padding-left: 200px;
  margin-bottom: 90px;
}

.b-team {
  margin-bottom: 100px;
}

/* слайдер */

.b-slider {
  position: relative;
  box-sizing: border-box;
  bottom: 45px;
  top: 0;
  z-index: 10;
  outline: none;
}

.b-subtitle--pagination {
  margin: 0;
  margin-right: -5px;
}

.b-slider__image-block {
  margin-left: auto;
  margin-right: 0;
  max-width: 980px;
  max-height: 600px;
  z-index: 0;
}

.b-slider__image {
  width: 100%;
  height: 100%;
}

.b-slider__image > img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.b-slider__image-block:active {
  outline: none;
}

.b-slider__image-block .slick-track {
  display: flex;
  align-items: flex-start;
}

.slick-slide:focus {
  outline: none;
}

.b-slider__content-about {
  position: absolute;
  box-sizing: border-box;
  z-index: 100;
  bottom: 0;
  width: 400px;
  height: 380px;
}

.b-slider__content {
  box-sizing: border-box;
  background: #f4f4f7;
  padding-top: 40px;
  padding-right: 50px;
  width: 400px;
  height: 380px;
}

.b-slider__simblebar-block {
  box-sizing: border-box;
  padding-right: 10px;
  width: 320px;
  height: 180px;
  margin-bottom: 35px;
}

.b-slider__content-about .slick-track {
  display: flex;
  align-items: flex-start;
}

.b-slider__image-block .slick-list {
  overflow: hidden;
}

.b-slider__content-about .slick-list {
  overflow: hidden;
}

.b-slider__content-about .slick-arrow {
  position: absolute;
  bottom: 0%;
  z-index: 15;
  font-size: 0;
  width: 20px;
  height: 21px;
  cursor: pointer;
}

.b-slider__image-block .slick-arrow {
  position: absolute;
  z-index: 0;
  font-size: 0;
}

.b-slider__image-block .slick-prev {
  display: none;
  outline: none;
  background: url("../images/home/inside/ic-left.svg") 0 0 / 100% no-repeat;
  border: 0;
  opacity: 0;
}

.b-slider__image-block .slick-next {
  display: none;
  outline: none;
  background: url("../images/home/inside/ic-right.svg") 0 0 / 100% no-repeat;
  border: 0;
  opacity: 0;
}

.b-slider__content-about .slick-prev {
  outline: none;
  background: url("../images/home/inside/ic-left.svg") 0 0 / 100% no-repeat;
  border: 0;
  opacity: 0;
}

.b-slider__content-about .slick-next {
  outline: none;
  background: url("../images/home/inside/ic-right.svg") 0 0 / 100% no-repeat;
  border: 0;
  opacity: 0;
}

.b-slider__image-block .slick-dots {
  display: flex;
  align-items: flex-start;
  position: relative;
  top: 13px;
  left: -1000px;
  opacity: 0;
}

.b-slider__content-about .slick-dots {
  display: flex;
  align-items: flex-start;
  position: relative;
  bottom: 30px;
  left: -40px;
  cursor: pointer;
}

/* .b-slider__image-block .slick-dots li {
  list-style-type: none;
  margin-right: 9px;
} */

.b-slider__content-about .slick-dots li {
  list-style-type: none;
  margin-right: 9px;
}

/* .b-slider__image-block .slick-dots button {
  font-size: 0;
  width: 0px;
  height: 0px;
  padding: 0;
  border: 0;
  z-index: 20;
  background-color: black;
} */

.b-slider__content-about .slick-dots button {
  font-size: 0;
  width: 65px;
  height: 1px;
  padding: 0;
  border: 0;
  z-index: 20;
  background-color: #c0c6c8;
}

.b-slider__content-about .slick-dots li:hover {
  transform: scaleY(1.5);
  transition: 1.5s;
}

/* .b-slider__image-block .slick-dots li.slick-active button {
  background-color: #2d2d42;
} */

.b-slider__content-about .slick-dots li.slick-active button {
  background-color: #2d2d42;
}

/* .b-slider__image-block .slick-arrow.slick-disabled {
  opacity: 0.2;
} */

.b-slider__content-about .slick-arrow.slick-disabled {
  opacity: 0;
}

.b-slider__icon img {
  width: auto;
  height: auto;
}

.b-slider__icon:hover {
  cursor: pointer;
  transform: scaleY(1.1);
  transition: 1.5s;
}

@media (max-width: 979px) {
  .b-logo__icon-desktop,
  .b-logo__icon-mobdark,
  .b-menu-link-event,
  .b-logo__icon-mobdark.active {
    display: none;
  }

  .b-title--header.active,
  .b-button--header,
  .b-logo__icon-moblight {
    display: block;
  }

  .b-header,
  .b-header--background {
    background: #2d2d42;
  }

  .b-header--background {
    height: auto;
    padding-right: 30px;
  }

  .b-header--background.active {
    background: white;
  }

  .b-logo__icon-moblight,
  .b-logo__icon-mobdark.active,
  .b-menu-list {
    width: auto;
    height: auto;
    object-fit: none;
    margin-left: 31px;
  }

  .b-subtitle--header {
    display: block;
    padding: 0;
    margin: 2.196vw 0 5.71vw -70px;
    font-family: "Roboto-Light", sans-serif;
    color: #f4f4f7;
    font-weight: 300;
    font-size: 1.25em;
    line-height: 1.33;
    letter-spacing: 0;
  }

  .b-header__body-top {
    height: 90px;
    position: relative;
  }

  .header__burger {
    display: block;
    position: absolute;
    height: 15px;
    width: 20px;
    z-index: 30;
    top: 38%;
  }

  .header__burger span {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 1px;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 1px;
    transition: all 0.3s ease 0s;
  }

  .header__burger.active:before,
  .header__burger.active:after {
    background-color: black;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .b-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 107%;
    left: -125%;
    transition: all 0.4s ease 0s;
  }

  .b-menu.active {
    left: 20px;
    transition: all 0.4s ease 0s;
  }

  .b-lang {
    padding: 0;
    position: absolute;
    left: -500%;
    transition: all 0.4s ease 0s;
  }

  .b-lang.active {
    position: absolute;
    width: 120px;
    top: 410%;
    left: -70px;
    transition: all 0.4s ease 0s;
  }

  .b-menu-list {
    display: block;
    position: absolute;
    left: 5px;
  }

  .b-menu-item {
    margin-bottom: 20px;
  }

  .b-menu.active a,
  .b-lang.active a {
    color: black;
  }

  .b-menu.active a:hover {
    border-bottom: 1px solid #c7c7c7;
  }

  .b-logo__link.active {
    padding: 0;
  }

  .b-logo {
    margin: 0;
  }
}

.b-expertise {
  background-color: #fff;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 90px;
}

.b-title--expertise {
  margin-block-end: 0;
  margin-block-start: 0;
}

.b-subtitle--expertise {
  margin-bottom: 85px;
}

.b-expertise-list__item {
  text-decoration: none;
  color: inherit;
  width: calc((100% - 180px) / 3);
  margin-right: 60px;
  margin-bottom: 20px;
  transition: all 0.5s ease;
}

.b-expertise-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -120px;
}

.b-expertise-list__picture {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.b-expertise-list__icon:hover {
  background-color: rgba(201, 43, 43, 0.3);
  margin-left: 5%;
}

.b-service-list__block {
  margin: 0;
  padding: 0;
  padding-bottom: 137px;
}

.b-expertise-list__icon {
  display: block;
  width: 90px;
  height: 90px;
  margin-bottom: 30px;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease;
}

.b-expertise-list__icon--managment {
  background-color: #63c9e0;
  margin-left: -2px;
}

.b-expertise-list__icon--hire {
  background-color: #f47e3d;
  margin-left: 1px;
}

.b-expertise-list__icon--digital {
  background-color: #d04b9b;
  margin-left: -4px;
}

.b-expertise-list__image {
  object-fit: contain;
}

.b-expertise-list__text {
  display: block;
  color: #2d2d42;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin-block-end: 0;
  text-decoration: none;
  transition: all 0.3s ease;
}

.b-service {
  background: #ffffff;
  padding-right: 200px;
  padding-left: 200px;
  padding-top: 50px;
}

.b-service-list__block {
  column-count: 2;
  margin-left: -120px;
}

.b-title--secondary {
  margin-block-start: 0;
  margin-block-end: 0;
}

.b-service__top {
  margin-bottom: 75px;
}

.b-service-list__item {
  margin-left: 120px;
  position: relative;
  list-style-type: none;
  font-family: "Roboto-Light", sans-serif;
  font-size: 20px;
  color: #2d2d42;
  font-weight: 300;
  line-height: 1.5;
  width: 380px;
  margin-bottom: 30px;
}

.b-service-list__item::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 30px;
  background: #64cae1;
  left: -60px;
  top: 15px;
}

.b-work {
  width: 100%;
  padding-top: 100px;
  margin-bottom: 30px;
}

.b-title--work {
  padding: 0 200px;
  margin: 0;
  margin-bottom: 25px;
}

.b-subtitle--work {
  padding: 0 200px;
  margin: 0;
  margin-bottom: 90px;
}

.b-subtitle--work-block {
  margin: 0;
}

.b-work__block {
  position: relative;
  margin-bottom: 20px;
}

.b-work__block-image {
  width: 100%;
  display: block;
}

.b-work__box {
  position: absolute;
  box-sizing: border-box;
  width: 380px;
  height: 380px;
  padding: 40px;
  bottom: 20px;
}

.b-work__box--left {
  background: #64cae1;
  left: 200px;
  color: #f4f4f7;
}

.b-work__box--right {
  background: #f4f4f7;
  right: 200px;
}

.b-work__heading {
  font-family: "Roboto-Black", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.54;
  letter-spacing: 1.73px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 50px;
}

.b-work__list {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
}

/*  */
.b-example {
  box-sizing: border-box;
  width: calc((100% - 40px) / 2);
  margin-right: 20px;
  margin-bottom: 20px;
}

.b-example--main {
  width: 100%;
  min-height: 600px;
  margin-bottom: 20px;
}

.b-example__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.b-example__image:hover {
  opacity: 0.3;
}

.b-example__picture {
  display: block;
  width: 100%;
  height: 320px;
}

.b-example__picture--main {
  height: 600px;
}

.b-example__info {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-right: 140px;
  padding-bottom: 50px;
}

.b-example__info--main {
  background-origin: border-box;
  width: 300px;
  min-height: 299px;
  background-color: #64cae1;
  padding: 41px 40px 40px 40px;
  margin-bottom: 0px;
  margin-top: -400px;
  margin-left: 200px;
  position: relative;
  color: #f4f4f7;
}

.b-example--main:hover .b-example__info--main {
  color: white;
  background-color: #2d2d42;
}

.b-example--main:hover .b-example__info--main .b-example__title--main {
  transform: scale(1.3);
}

.b-example--main:hover .b-example__image {
  opacity: 0.3;
}

.b-example__info--team {
  margin-left: 50%;
  background-color: #f4f4f7;
  color: #2d2d42;
}

.b-example__title {
  font-family: "Roboto-Black";
  font-weight: 300;
  font-size: 13px;
  line-height: 1.54;
  letter-spacing: 1.73px;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0;
  margin-bottom: 30px;
  text-decoration: none;
  color: inherit;
}

.b-example__title--main {
  margin-bottom: 39px;
  transform-origin: left 50%;
  transition: all 0.3s ease;
}

.b-subtitle--info {
  padding-right: 15px;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
}

.b-work__item {
  box-sizing: border-box;
  width: 580px;
  margin-right: 20px;
}

.b-work__item:nth-child(2n-1) {
  margin-right: 0;
}

.b-work__item-image {
  width: 100%;
}

.b-work__item-text {
  padding: 40px 140px 100px 0;
}

.b-subtitle--work-item {
  margin: 0;
}

.b-work__item-image--small {
  display: none;
}

.b-work__item--shown {
  display: none;
}

.b-lang-item,
.b-lang-item--active {
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 5px;
}

.b-lang-item--active {
  border: 1px solid gray;
}
.b-lang-item:hover {
  border: 1px solid gray;
}

@media (max-width: 1179px) {
  .b-expertise-list__picture:hover {
    background-color: transparent;
    margin-left: 0;
  }

  .b-example__info--main:hover {
    background-color: #64cae1;
  }

  .b-example__info--team:hover {
    background-color: #f4f4f7;
    color: #2d2d42;
  }

  .b-example__info--main:hover .b-example__title--main {
    transform: scale(1);
  }

  .b-example__image:hover {
    opacity: 1;
  }

  .b-work {
    margin-bottom: 0;
  }

  .b-example {
    width: 50%;
    margin-right: 0;
    margin-bottom: 0;
  }

  .b-example--main {
    width: 100%;
    margin-bottom: 0;
  }

  .b-example__info {
    padding-left: 40px;
    padding-right: 50px;
    padding-bottom: 40px;
  }

  .b-example__info--main {
    margin-left: calc(50% - 380px);
    padding-right: 40px;
  }

  .b-example__info--team {
    margin-left: 50%;
  }

  /* Слайдер */

  .b-slider__content-about .slick-dots {
    bottom: 30px;
    left: 0px;
  }

  .b-slider__content-about {
    padding-left: 0px;
  }

  .b-slider__content {
    padding-left: 40px;
  }

  .b-title--inside {
    padding-left: 100px;
    margin-bottom: 25px;
  }

  .b-subtitle--inside {
    padding-left: 100px;
    margin-top: 0;
  }

  .b-slider .slick-dots button {
    width: 60px;
  }

  .b-slider .slick-dots li {
    list-style-type: none;
    margin-right: 5px;
  }

  .b-expertise {
    padding-left: 100px;
    padding-right: 100px;
  }

  .b-service-list__item {
    width: 320px;
  }

  .b-service {
    padding-left: 0;
    padding-right: 100px;
  }

  .b-service__top {
    padding-left: 100px;
  }

  .b-service-list__block {
    padding-left: 150px;
  }

  .b-service-list__item::before {
    left: -50px;
  }

  .b-work__box--left {
    left: 110px;
  }

  .b-work__box--right {
    right: 110px;
  }

  .b-work__block::before {
    width: 100%;
    background: rgba(192, 198, 200, 0.2);
    z-index: 5;
  }

  .b-title--work {
    padding: 0 100px;
  }

  .b-subtitle--work {
    padding: 0 100px;
  }

  .b-work__block {
    margin-bottom: 0;
  }

  .b-work__item {
    width: 50%;
    margin-right: 0;
  }

  .b-work__item-text {
    padding: 40px 50px 40px 40px;
  }

  .b-button--header {
    width: 480px;
    padding-left: 100px;
  }

  .b-text--header {
    margin-bottom: 160px;
    margin-left: 0;
  }
  .b-menu-item--event {
    display: none;
  }
  .b-menu {
    margin-left: 60px;
    width: 716px;
  }
  .b-news-list {
    flex-wrap: wrap;
    justify-content: right;
  }
  .b-menu-item {
    margin-right: 40px;
  }
  .b-lang {
    position: absolute;
    right: 3%;
    justify-content: space-between;
    flex-basis: 13%;
    margin-right: 40px;
  }
}

@media (max-width: 979px) {
  .b-example__image {
    position: absolute;
    top: 0;
    left: 0;
  }

  .b-lang {
    display: none;
  }

  .b-example__picture--main {
    height: 0;
  }

  .b-example__picture {
    height: 0;
    padding-bottom: calc(200 * 100% / 320);
    position: relative;
  }

  .b-example {
    width: 100%;
    height: auto;
  }

  .b-example--main {
    width: 100%;
    min-height: 0;
    margin-bottom: 0;
  }

  .b-example--hidden {
    display: none;
  }

  .b-example__info {
    background-color: #fff;
    padding: 30px;
  }

  .b-example__info--main {
    background-origin: border-box;
    width: auto;
    min-height: 0;
    background-color: #fff;
    padding: 30px;
    margin-bottom: 0px;
    margin-top: 0;
    margin-left: 0;
    position: relative;
    color: inherit;
  }

  .b-example--main:hover .b-example__info--main {
    color: #2d2d42;
    background-color: white;
  }

  .b-example--main:hover .b-example__info--main .b-example__title--main {
    transform: none;
  }

  .b-example--main:hover .b-example__image {
    opacity: 1;
  }

  .b-example__image:hover {
    opacity: 1;
  }

  .b-example__title {
    font-size: 10px;
    line-height: 1;
    letter-spacing: 1.33px;
    margin-bottom: 20px;
  }

  .b-button--header {
    padding: 30px;
    width: 100%;
    height: auto;
  }

  .b-expertise {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
  }

  .b-title--expertise {
    margin-bottom: 20px;
  }

  .b-subtitle--expertise {
    margin-bottom: 30px;
  }

  .b-expertise-list__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    padding: 29px 0 30px 0;
    position: relative;
    display: flex;
    align-items: center;
  }

  .b-expertise-list__item:first-of-type::before,
  .b-expertise-list__item::after {
    content: "";
    position: absolute;
    left: 0;
    height: 1px;
    width: calc(100% + 30px);
    margin-left: -30px;
    background-color: rgba(192, 198, 200, 0.2);
  }

  .b-expertise-list__item:first-of-type::before {
    top: 0;
  }

  .b-expertise-list__item::after {
    bottom: 0;
  }

  .b-expertise-list__picture--managment {
    margin-left: 0;
  }

  .b-expertise-list__picture--digital {
    margin-left: 0;
  }

  .b-expertise-list__text {
    display: block;
    width: 190px;
    font-size: 15px;
    line-height: 1.33;
    text-decoration: none;
    margin-block-start: 0;
  }

  .b-expertise-list__icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .b-expertise-list__image--managment {
    width: 27.8px;
    height: 28.9px;
    top: calc(50% - 13.3px);
    left: calc(50% - 13.9px);
  }

  .b-expertise-list__image--hire {
    width: 13.3px;
    height: 32.8px;
    top: calc(50% - 15.6px);
    left: calc(50% - 4.4px);
  }

  .b-expertise-list__image--digital {
    width: 31.1px;
    height: 23.9px;
    top: calc(50% - 14.4px);
    left: calc(50% - 15.6px);
  }

  .b-service {
    padding-top: 29px;
  }

  .b-service-list__block {
    column-count: auto;
    padding-left: 0;
    margin-left: 0;
    padding-bottom: 40px;
  }

  .b-service-list__item {
    margin-left: 0;
    line-height: 1.5;
    font-size: 20px;
    width: 100%;
  }

  .b-service__top {
    margin-bottom: 30px;
  }

  .b-service-list {
    padding-right: 30px;
    padding-left: 70px;
  }

  .b-service__top {
    padding-left: 30px;
  }

  .b-service {
    padding-right: 0;
  }

  .b-service-list__item::before {
    width: 20px;
    left: -40px;
  }

  .b-service-list__block {
    display: block;
  }
  .b-work {
    padding-top: 30px;
  }

  .b-title--work {
    padding-left: 30px;
    padding-right: 30px;
  }

  .b-subtitle--work {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
  }

  .b-work__block--hidden {
    display: none;
  }

  .b-work__item--shown {
    display: block;
  }

  .b-work__item--hidden {
    display: none;
  }

  .b-work__item-image--large {
    display: none;
  }

  .b-work__item-image--small {
    display: block;
  }

  .b-work__item {
    width: 100%;
  }

  .b-work__item-text {
    background: white;
    padding: 30px;
  }

  .b-work__heading {
    margin-bottom: 20px;
    font-size: 10px;
  }

  .b-work__box {
    position: relative;
    width: 100%;
    height: auto;
    padding: 30px;
    bottom: 0;
    left: 0;
    background: white;
  }

  .b-example__info--team {
    margin-left: 50%;
  }

  .b-button--header:hover::before {
    transform: translate(0, -50%);
  }

  .b-expertise-list__icon:hover {
    margin-left: 0;
  }

  .b-expertise-list__icon {
    margin-left: 0;
  }

  .b-expertise-list__item:hover .b-expertise-list__icon--managment {
    background-color: #63c9e0;
  }

  .b-expertise-list__item:hover .b-expertise-list__icon--hire {
    background-color: #f47e3d;
  }

  .b-expertise-list__item:hover .b-expertise-list__icon--digital {
    background-color: #d04b9b;
  }

  .b-inside {
    padding: 30px 0 0 30px;
  }
}

.b-inside__title {
  color: #2d2d42;
  margin: 0 0 25px 0;
}
.b-inside__subtitle {
  margin: 0 0 90px 0;
}
.b-inside__content {
  position: relative;
  margin-left: -30px;
}
.b-inside__icon {
  width: 100%;
}
.b-pagination {
  width: 320px;
  height: 290px;
  background-color: #f4f4f7;
  position: absolute;
  z-index: 10;
  bottom: 0;
  padding: 40px 40px 50px 40px;
}
.b-inside a {
  outline: none;
  color: #2d2d42;
  text-decoration: none;
  font-family: "Roboto-Light", sans-serif;
}
.b-slider__title,
.b-news-title {
  font-family: Roboto-Black, sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1.73px;
  text-transform: uppercase;
  margin: 0 0 30px 0px;
  padding: 0;
}
.b-news-title {
  margin: 0 0 50px 65px;
}
.b-news-list {
  flex-wrap: wrap;
  margin-right: 65px;
  justify-content: right;
}
.b-pagination__subtitle {
  font-family: "Roboto Light", sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0;
  margin: 0 0 55px 0;
  padding: 0;
}
.b-pagination__row {
  display: flex;
  position: absolute;
  left: 35px;
}
.b-pagination__button,
.b-pagination__button--active {
  width: 60px;
  height: 2px;
  background-color: #c0c6c8;
  margin-right: 8px;
}
.b-pagination__button:hover {
  background-color: #2d2d42;
  cursor: pointer;
}
.b-pagination__button--active {
  background-color: #2d2d42;
}
.b-news-item-text {
  font-size: 20px;
  color: #2d2d42;
  line-height: 30px;
  letter-spacing: 0;
  font-family: "Roboto-Light", sans-serif;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}

.b-news-item-text:hover {
  color: #64cae1;
}

.b-news-item-datetime {
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  font-family: "Roboto Light", sans-serif;
  color: #93a4a9;
  padding: 20px 0 0 0;
}
.b-news-list {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}
.b-news-list {
  flex-wrap: wrap;
  margin-left: 65px;
  justify-content: right;
}

.b-news-item {
  flex-basis: 26%;
  margin-right: 58px;
  margin-bottom: 35px;
}
.b-news {
  margin-bottom: 100px;
  padding-top: 80px;
}

@media (min-width: 1179px) {
  .b-news-list {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: 1179px) {
  .b-example__info--team {
    margin-left: 50%;
  }

  .b-logo {
    margin-left: 40px;
  }
  .b-menu {
    width: 716px;
    margin-left: 120px;
  }
  .b-menu-item {
    margin-right: 50px;
  }

  .b-inside__title {
    margin: 0 0 25px 0;
  }
  .b-inside__subtitle {
    margin: 0 0 90px 0;
  }
  .b-inside__icon {
    width: 83%;
    right: -206px;
    position: relative;
  }
  .b-pagination {
    padding: 40px 60px 50px 0;
    left: 0;
    width: 340px;
  }

  .b-pagination__row {
    left: 0;
  }
  .b-news-title {
    margin: 0 0 50px 0;
  }
}

@media (max-width: 979px) {
  .b-team {
    border-bottom: 1px solid rgba(192, 198, 200, 0.2);
    margin-bottom: 0;
  }

  .b-slider__content {
    height: auto;
  }

  .b-example__info--team {
    margin-left: 0;
  }

  .b-header__body-content,
  .b-header__body-top {
    background: #2d2d42;
  }

  .b-header__body-content {
    padding-top: 0;
  }

  .b-text--home-header {
    margin-bottom: 100px;
  }

  .b-inside-container,
  .b-inside,
  .b-news,
  .b-pagination {
    background-color: white;
  }

  .inside__content {
    position: relative;
    margin-left: 0px;
  }

  .b-inside {
    padding: 0;
  }

  .b-slider__content {
    padding: 0;
  }

  .b-title--inside {
    margin-top: 0;
    padding-top: 30px;
    padding-left: 30px;
  }

  .b-subtitle--inside {
    padding-bottom: 0;
    margin-bottom: 30px;
    padding-left: 30px;
  }

  .b-slider__content-about {
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  .b-work {
    margin-bottom: 0;
  }

  .b-news {
    padding-top: 20px;
  }

  [data-simplebar] {
    height: auto;
  }

  .b-slider__simblebar-block {
    width: 100%;
    max-height: 100%;
    margin-bottom: 0;
    padding-right: 0;
  }

  /* Слайдер */

  .b-slider__content {
    background: #ffffff;
  }

  .b-slider__image-block {
    width: 100%;
    height: auto;
  }

  .b-slider__content-about {
    position: static;
    width: 100%;
  }

  .b-slider__content-about .slick-arrow.slick-disabled {
    opacity: 0.2;
  }

  .b-subtitle--pagination {
    margin-bottom: 400px;
  }

  .b-slider__content-about .slick-prev {
    left: 25px;
    opacity: 1;
    padding: 0;
  }

  .b-slider__content-about .slick-next {
    right: 25px;
    opacity: 1;
    padding: 0;
  }

  .b-slider {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 0;
    bottom: 4px;
    z-index: 10;
    left: 0px;
  }

  .b-slider__content-about {
    position: static;
  }

  .b-news {
    padding-top: 20px;
  }

  /* Слайдер */

  .b-subtitle--pagination {
    margin-bottom: 38px;
  }

  .b-slider .slick-dots {
    display: flex;
    height: 0;
    margin: 0;
    align-items: flex-start;
    position: relative;
    top: 15px;
    left: -40px;
    opacity: 0;
  }

  .inside-frontbyte__title {
    color: #2d2d42;
    margin: 0;
    padding: 0 30px 20px 30px;
    padding-top: 30px;
    font-family: "Roboto-Black", sans-serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: -0.31px;
  }

  .inside-frontbyte__subtitle {
    margin: 0 0 30px 0px;
    padding: 0 30px 0 30px;
    font-size: 15px;
  }

  .inside-frontbyte__icon {
    width: 100%;
    right: 0px;
    position: relative;
  }

  .b-slider__item {
    width: 100%;
  }

  .b-pagination {
    margin: 20px 0 30px -170px;
    font-size: 15px;
  }

  .b-pagination {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    left: 0;
    text-align: left;
    margin: 0 0 -39px 0;
  }

  .b-slider__title {
    font-size: 10px;
    margin-bottom: 4px;
  }

  .b-pagination__subtitle {
    font-size: 15px;
  }

  .b-pagination_icon {
    position: absolute;
    top: 83%;
  }

  .b-slider__icon {
    top: 148%;
    text-align: center;
  }

  .b-slider__item {
    position: relative;
  }

  .b-slider__icon {
    display: block;
    width: 30px;
    height: 15px;
    margin: 0 auto;
    text-align: center;
    z-index: 20;
    background-size: cover;
  }

  .b-slider__icon > img {
    background-size: cover;
    width: 30px;
    height: 15px;
  }

  .b-news-title {
    margin: 15px 0 30px 30px;
    padding-top: 0px;
    font-size: 10px;
  }

  .b-slider__title {
    margin: 30px 30px 20px 0;
  }

  .b-pagination__subtitle {
    margin: 20px 30px 38px 30px;
  }

  .b-news {
    margin-bottom: 30px;
  }

  .b-news-list {
    flex-direction: column;
    margin-left: 30px;
    padding-bottom: 30px;
    margin-bottom: -30px;
    margin-right: 30px;
  }

  .b-news-item-text {
    font-size: 15px;
  }

  .b-news-item-text:hover {
    color: inherit;
  }

  .b-news-item-text:active {
    color: #64cae1;
  }

  .b-news-item-datetime {
    font-size: 13px;
    padding: 10px 0 20px 0;
  }

  .b-news-item {
    margin-right: 0;
    margin-bottom: 0;
  }

  .b-service-list__item {
    line-height: 1.33;
    font-size: 15px;
  }

  .b-service-list__item::before {
    top: 9px;
  }
}

/* mobile menu */

.b-mob-menu {
  background: white;
  padding-top: 100px;
  padding-bottom: 20px;
  position: absolute;
  width: 150vw;
  height: calc(100vh - 100%);
  left: -215%;
  top: 0;
  z-index: 1;
}

.b-mob-menu.active {
  left: 0;
  transition: 0.3s;
}
.b-mob-menu-item,
.b-mob-lang {
  list-style: none;
}
.b-mob-menu a {
  text-decoration: none;
  color: #2d2d42;
}
.b-mob-menu-item a {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0;
  font-family: "Roboto-Light", sans-serif;
}
.b-mob-menu-item {
  margin-bottom: 20px;
}

.b-mob-menu-list {
  margin-bottom: 66px;
  margin-left: -10px;
}
.b-logo__icon-moblight.active {
  display: none;
}
.b-logo__icon-mobdark.active {
  display: block;
  position: absolute;
  z-index: 50000;
}
.b-button--header.active {
  z-index: 0;
}

@media (min-width: 979px) {
  .b-mob-menu.active,
  .b-logo__icon-mobdark.active {
    display: none;
  }
  .b-header__body-top.active {
    background: transparent;
  }
}

@media (min-width: 768px) {
  .b-mob-menu {
    width: 50vw;
  }

  .header__burger.active:before,
  .header__burger.active:after {
    background-color: white;
  }
}

@media (max-height: 430px) {
  .b-mob-lang {
    display: none;
  }
}

.b-subtitle--info {
  overflow-x: hidden;
  overflow-y: auto;
  height: 240px;
}

.b-subtitle--pagination {
  width: 100%;
  height: auto;
}

.b-subtitle--info::-webkit-scrollbar-track-piece,
.b-subtitle--pagination::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}
.b-subtitle--info::-webkit-scrollbar,
.b-subtitle--pagination::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.b-subtitle--info::-webkit-scrollbar-button,
.b-subtitle--pagination::-webkit-scrollbar-button {
  background-color: transparent;
}
.b-subtitle--info::-webkit-scrollbar-track,
.b-subtitle--pagination::-webkit-scrollbar-track {
  background-color: blue;
}
.b-subtitle--info::-webkit-scrollbar-track-piece,
.b-subtitle--pagination::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}
.b-subtitle--info::-webkit-scrollbar-thumb,
.b-subtitle--pagination::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 30px;
}
.b-subtitle--info::-webkit-scrollbar-corner,
.b-subtitle--pagination::-webkit-scrollbar-corner {
  background-color: #999;
}
.b-subtitle--info::-webkit-resizer,
.b-subtitle--pagination::-webkit-resizer {
  background-color: #666;
}

@media (max-width: 979px) {
  .b-subtitle--info {
    height: auto;
  }

  .b-header__burger {
    display: block;
    position: absolute;
    height: 15px;
    width: 20px;
    z-index: 3;
    right: -30px;
    top: 38%;
    margin-left: -59px;
    left: 101%;
  }

  .b-header__burger span {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 1px;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.3s ease 0s;
  }

  .b-header__burger:before,
  .b-header__burger:after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 1px;
    transition: all 0.3s ease 0s;
  }

  .b-header__burger:before {
    top: 0;
  }

  .b-header__burger:after {
    bottom: 0;
  }
}
@media (min-width: 768px) {
  .b-mob-menu {
    width: 50vw;
  }
}
@media (max-width: 768px) {
  .b-header__burger.active:before,
  .b-header__burger.active:after {
    background-color: black;
  }
}
.b-mob-menu-link, .b-mob-menu-link--nowrap {
  position: relative;
}
.b-mob-menu-link::after,
.b-mob-menu-link--nowrap::after,
.b-mob-menu-link--about::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #c7c7c7;
  transition: width 0.3s ease-out;
}

.b-mob-menu-link:hover::after,
.b-mob-menu-link--nowrap:hover::after,
.b-mob-menu-link--about::after {
  width: 100%;
}

.b-mob-menu-link--about.active {
  color: #2d2d42;
  font-family: "Roboto-Bold", sans-serif;
}

.b-mob-lang {
  display: flex;
  margin-left: -22px;
  position: absolute;
  bottom: 7%;
}
.b-mob-lang-item,
.b-mob-lang-item--active {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0;
  font-family: "Roboto-Light", sans-serif;
  width: 40px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-top: -11px;
  margin-right: 24px;
}
.b-mob-lang-item--active, .b-mob-lang-item:hover {
  border: 1px solid #c7c7c7;
  transition: 0.5s;
}

